#parent {
    padding : 16px;
    background: white
}

#title {
    margin-bottom: 32px;
    font-weight : 700
}

li {
    margin-bottom: 16px;
}

ol {
    margin: 18px auto;
}

#revised-date {
    font-size: 14px; line-height:50px;
}