#parent {
    padding : 12px; background : white;
}

#feed-title {
    font-size : 18px; line-height : 1.2; color : black; float:left; text-align : left; font-weight : 400; 
}

.like {
    font-size : 12px;
}

#id {
    font-size : 12px; margin : 4px 0px 4px 0px
}

.user-image {
    width : 32px; height : 32px; margin-right : 12px
}

#comment {
    margin-bottom: 8px
}

#like-section {
    margin-top : 24px
}

#comment-section {
    margin-top : 12px
}

#close-dialog{
    float: right;
    cursor: pointer;
}