#parent {
    padding : 8px; background : white; min-height : 50vh
}

#title {
    font-size : 18px; margin : 12px 0px 12px 0px
}

.login-button {
    font-family : Roboto ; 
    font-size : 16px;
    text-align: center;
    height: auto;
    border-radius : 4px; 
    outline: none;
    text-transform: capitalize;
    padding : 8px 12px 8px 12px;
    color: white;
    font-weight : 500; 
    margin: 16px 0px 16px 0px
}

#fb-bg {
    background : #3b5998 !important
}

#gplus-bg {
    background : #dd4b39 !important
}

#linkedIn-bg {
    background : #1c94e0 !important
}

#disclaimer {
    margin : 16px 0px 16px 0px
}