#no-bookmark-section {
    position: absolute; top: 25%; left : 20%;  margin : auto
}

#no-bookmark-section img {
    max-width : 96px; margin: auto; height: auto
}

#no-bookmark-section h1 {
    padding : 0px 24px 0px 24px;
    font-weight: 600;
}

#bookmark-list {
    margin-top : 64px
}

#fetching-bookmarks {
    padding : 48px;
    font-weight: 500
}

@media (max-width: 767px) {

    #bookmark-list {
        margin-top : 0px
    }

    #no-bookmark-section {
        position: absolute; top: 25%; left : 0; right : 0; bottom : 0; margin : auto
    }
}