#no-feeds-section {
    padding : 24px;
    font-weight: 600;
}

#new-post{
    box-shadow: 0px 1px 9px #ccc; background : white; margin-top : 64px;
}

#div-post {
    padding-bottom : 48px
}

#new-post textarea {
    width : 100%; padding : 8px 16px 8px 16px; margin-bottom : 16px
}

#div-post-input {
    float : left; margin-left : 16px
}

#text-photos {
    font-size : 12px; cursor : pointer; background : #DCDCDC; border-radius: 24px; border: 2px solid #DCDCDC; font-size : 12px; padding : 4px 8px 4px 8px
}

#green-text {
    color:green; margin-left : 8px
}

#file-name {
    font-size : 12px
}

#span-file-input {
    cursor : pointer
}

#div-post-button {
    float : right; margin-right : 16px
}

#div-post-spinner {
    float : right; margin-right : 4px;
}

#post-button {
    font-size : 16px; padding : 2px 16px 2px 16px
}

#no-feeds {
    padding : 48px;
    font-weight: 600
}

#first-time-alert {
    /* margin : 0px 12px 8px 12px */
}

#feedCategory {
    float: right;
    margin: 12px 8px 0px 0px;
}

/* select options */
.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 4px;
    overflow: hidden;
    text-align: center
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

#no-post-section {
    left: 20%; margin-top : 48px
}

#no-post-section img {
    max-width : 144px; margin: auto; height: auto
}

#no-post-section h1 {
    padding : 24px;
    font-weight: 600;
}

@media (max-width: 767px) {
    #new-post {
        margin-top : 0px;
    }
}