#bg {
    height : 96px;
    width: 100%;
}

#dp {
    width : 144px; height : 144px;
    margin-top : -72px
}

#user-name {
     margin : 16px 0px 8px 0px;
     font-weight : 700
}

#user-email {
    margin-bottom : 12px
}

#no-posts{
    padding : 48px;
    font-weight: 600
}

#feeds-list {
    /* padding : 16px 0px 16px 0px; */
}

#detail {
    background : #e9ebee
}

#no-post-section {
    left: 20%; margin-top : 48px
}

#no-post-section img {
    max-width : 144px; margin: auto; height: auto
}

#no-post-section h1 {
    padding : 24px;
    font-weight: 600;
}

#share-now {
    cursor: pointer;
    color: #004e98
}