<div id="parent">
    <div align="center"> 
        <label id="login-title"> Friendsbook </label>
        <h3 id="login-sub-title"> <b> Make the most of your social life </b> </h3>
    </div>
    
    <div id="modal-parent" align="center">
        <h5 id="title"> Friendsbook helps you connect and share with the people in your life </h5>
        <hr />
        <button class="login-button" id="fb-bg" (click)="signIn('facebook')"> Continue with Facebook </button>
        <button class="login-button" id="gplus-bg" (click)="signIn('google')"> Continue with Google </button>
        <div align="center" id="disclaimer">
            <custom-spinner *ngIf="logging" [loadingText]="Fetching"> </custom-spinner>
            <hr />
            <h6> By clicking Continue, you agree to the <b id="tnc" (click)="openTnC()"> FriendsBook User Agreement and Privacy Policy </b>. </h6>
        </div>
    </div>

    <div align="center">
        <label id="trademark"> Friendsbook Corporation © 2017 </label>
    </div>
    
</div>