<div id="wrapper">
  <div class="display-msg" id="success-toast" *ngIf="showSuccessToast && message!=null">
    <label align="center"><span class="glyphicon glyphicon-thumbs-up icon-msg"></span> {{message}} </label>
  </div>

  <div class="display-msg" id="error-toast" *ngIf="showErrorToast && message!=null">
    <label align="center"><span class="glyphicon glyphicon-exclamation-sign icon-msg"></span> {{message}} </label>
  </div>

  <div *ngIf="loadingData" class="loading-center-page">
      <custom-spinner [loadingText]="Fetching"> </custom-spinner>
  </div>

  <span defaultOverlayTarget></span>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>