#wrapper {
  min-height:100%;
  /* position:relative; */
}

#progress-bar-holder-div {
margin-bottom: -8px !important;
}

#progress-bar-style {
  width: 100%;
  margin-top: 0px !important;
  color : green !important
}

.display-msg {
    z-index : 9999999; 
    padding-left: 8px; 
    padding-right : 8px; 
    padding-bottom : 0px; 
    position: absolute;  
    border-radius: 16px;
    
    margin: auto;
    right: 1%;
    min-width: 25%;
}

.display-msg label {
 font-size: 14px; 
 color : #ffffff; 
 margin : 4px;
}

.display-msg img {
width : 24px;
height : 24px; 
margin-right : 8px;
}

#success-toast {
 background-color : #4F8A10; 
 text-align: center
}

#error-toast {
 background-color : #D8000C; 
 text-align: center
}

.icon-msg {
  margin-right : 8px
}

@media (min-width: 767px) {
  .display-msg {
    top: 1%;
    right: 2%;
    margin : auto;
  }
}

@media (max-width: 767px) {
  .display-msg {
    bottom: 15%;
    right: 0;
    left: 0;
    margin : auto;
    min-width: 50%;
    max-width: 75%;
  }
}