<div id="wrapper">
  <div class="display-msg" id="success-toast" *ngIf="showSuccessToast && message!=null">
    <label align="center"><i class="fa fa-thumbs-up" style="margin-right : 8px" aria-hidden="true"></i> {{message}} </label>
  </div>

  <div class="display-msg" id="error-toast" *ngIf="showErrorToast && message!=null">
    <label align="center"><i class="fa fa-exclamation-circle" style="margin-right : 8px"></i> {{message}} </label>
  </div>

  <div *ngIf="loadingData" class="loading-center-page">
      <custom-spinner [loadingText]="Fetching"> </custom-spinner>
  </div>

  <span defaultOverlayTarget></span>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>