<div align="center" id="parent">
    <h4 id="title"> Come lets make some Friends </h4>
    <hr />
    <button class="login-button" id="fb-bg" (click)="signIn('facebook')"> Continue with Facebook </button>
    <button class="login-button" id="gplus-bg" (click)="signIn('google')"> Continue with Google </button>
    <div align="center" id="disclaimer">
        <hr />
        <h6> By clicking Join now, you agree to the <b> FriendsBook User Agreement </b> and <b>Privacy Policy</b>. </h6>
    </div>
</div>