<div>
    <div align="center" *ngIf="newFeed!=null" id="new-post">
        <div class="progress progress-striped active" *ngIf="uploadingFeed" id="progress-bar-holder-div">
            <div class="progress-bar" id="progress-bar-style"></div>
        </div>
        <textarea placeholder="What's on your mind" id="description" [(ngModel)]="newFeed.description" name="description" type="text"> </textarea>
        <div id="div-post">
            <div id="div-post-input">
                <label id="text-photos"> Photo/Video
        <span>
        <span class="glyphicon glyphicon-picture" id="green-text"></span> 
        <span id="span-file-input">
            <input #imageFileInput type="file" accept="image/*, video/mp4,video/x-m4v,video/*" name="Image" (change)="fileAdded()"/>
        </span>
        </span>
        </label>
                <label *ngIf="fileName != null" id="file-name"> {{fileName}} </label>
            </div>
            <div id="div-post-button">
                <button [disabled]="uploadingFeed" (click)="uploadFeed()" id="post-button"> Post </button>
            </div>
        </div>
        <div style="clear:both"> </div>
    </div>

    <div>
        <div *ngIf="newUser" class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert" (click)="dismissAlert()">&times; </button> <strong> You are seeing feeds from everyone. </strong>
        </div>
        <div>
            <div class="select-style" id="feedCategory">
                <select [(ngModel)]="selectedFeedCategory" (ngModelChange)="onChange($event)">
                    <option value="friendsFeeds"> Friends Feeds </option>
                    <option value="allFeeds"> All Feeds </option>
                </select>
            </div>
            <div style="clear:both"> </div>
        </div>
        <div align="left" *ngIf="feeds!=null">
            <div *ngIf="feeds.length > 0">
                <div *ngFor="let feed of feeds; let i=index">
                    <feed-component (callback)="childFeedComponentResponse()" [feed]="feed"> </feed-component>
                </div>
            </div>
        </div>
        <div align="center" *ngIf="feeds==null || feeds.length == 0" id="no-post-section">
            <h1 id="no-feeds-section" *ngIf="!fetchingFeeds"> No Feeds to display</h1>
        </div>
    </div>

    <div align="center" class="center-hor-loader" *ngIf="fetchingFeeds">
        <custom-spinner [loadingText]="Fetching"> </custom-spinner>
    </div>

</div>