<div>
    <div align="center" *ngIf="newFeed!=null" id="new-post">
        <textarea placeholder="What's on your mind" id="description" [(ngModel)]="newFeed.title" name="description" type="text"> </textarea>
        <div id="div-post">
            <div id="div-post-input">
                <label id="text-photos"> Photo/Video 
                    <span> 
                        <i class="fa fa-picture-o" id="green-text" aria-hidden="true"> 
                            <span id="span-file-input">
                                <input #imageFileInput type="file" accept="image/*, video/mp4,video/x-m4v,video/*" name="Image" (change)="fileAdded()"/>
                            </span> 
                        </i> 
                    </span>
                </label>
                <label *ngIf="fileName != null" style="font-size : 12px"> {{fileName}} </label>
            </div>
            <div id="div-post-button">
                <button [disabled]="uploadingFeed" (click)="uploadFeed()" id="post-button"> Post </button>
            </div>
            <div id="div-post-spinner">
                <custom-spinner [size]="small" *ngIf="uploadingFeed"> </custom-spinner>
            </div>
        </div>
        <div style="clear:both"> </div>
    </div>

    <div align="center" class="center-hor-loader" *ngIf="fetchingFeeds">
        <custom-spinner [loadingText]="Fetching"> </custom-spinner>
    </div>

     <div *ngIf="!fetchingFeeds">
        <div align="left" *ngIf="feeds!=null">
            <div *ngIf="feeds.length == 0">
                <h1 id="no-feeds "> No Feeds </h1>
            </div>
            <div *ngIf="feeds.length > 0">
                <div *ngIf="newUser" class="alert alert-dismissible alert-success" id="first-time-alert">
                    <button type="button" class="close" data-dismiss="alert" (click)="dismissAlert()">&times;
                    </button> You are seeing feeds from everyone.
                </div>
                <div>
                    <div class="select-style" id="feedCategory">
                        <select [(ngModel)]="selectedFeedCategory" (ngModelChange)="onChange($event)">
                            <option value="friendsFeeds" [ngValue]="friends"> Friends Feeds </option>
                            <option value="allFeeds" [ngValue]="all"> All Feeds </option>
                        </select>
                    </div>
                    <div style="clear:both"> </div>
                </div>
                <div *ngFor="let feed of feeds; let i=index">
                    <feed-component (callback)="childFeedComponentResponse()" [feed]="feed"> </feed-component>
                </div>
            </div>
        </div>
    </div> 
</div>