<div id="div-parent">
    <div id="div-friends">
        <h2 class="title"> My Friends </h2>
        <div align="center" class="center-hor-loader" *ngIf="loadingFriends">
            <custom-spinner [loadingText]="Fetching"> </custom-spinner>
        </div>
        <div *ngIf="!loadingFriends" class="outer-div">
            <div align="center" *ngIf="friends==null || friends.length == 0">
                <h1 id="no-friends-text"> Friend list is empty </h1>
            </div>
            <div *ngIf="friends!=null && friends.length > 0">
                <div *ngFor="let friend of friends;">
                    <div class="div-friends-bg" *ngIf="friend!=null">
                        <img src="{{friend.image}}" class='circle-picture friend-img' (click)="openProfile(friend.userId)">
                        <h4 class="friend-name" (click)="openProfile(friend.userId)"> {{friend.name}} </h4>
                        <button class="friends-action-button" *ngIf="friend.friendStatus == 'Recieved'" (click)="acceptFriend(friend)"> Accept </button>
                        <button class="friends-action-button" *ngIf="friend.friendStatus == 'Recieved'" (click)="unFriend(friend)"> Decline </button>
                        <button class="friends-action-button" *ngIf="friend.friendStatus == 'Sent'" (click)="unFriend(friend)"> Cancel Request </button>
                        <button class="friends-action-button" *ngIf="friend.friendStatus == 'Friends'" (click)="unFriend(friend)"> UnFriend </button>
                        <div style="clear : both"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-others">
        <h2 class="title"> People You may know </h2>
        <div align="center" class="center-hor-loader" *ngIf="fetchingSuggestions">
            <custom-spinner [loadingText]="Fetching"> </custom-spinner>
        </div>
        <div *ngIf="!fetchingSuggestions" class="outer-div">
            <div align="center" *ngIf="users==null || users.length == 0">
                <h1 id="no-friends-text"> We dont have any friends suggestions for you right now </h1>
            </div>
            <div *ngIf="users!=null && users.length > 0">
                <div *ngFor="let user of users;">
                    <div class="div-friends-bg" *ngIf="user!=null">
                        <img src="{{user.image}}" class='circle-picture friend-img'>
                        <h4 class="friend-name"> {{user.name}} </h4>
                        <button class="friends-action-button" (click)="addFriend(user)"> Add Friend </button>
                        <div style="clear : both"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>