<div *ngIf="fetchingProfile" class="loading-center-page">
    <custom-spinner [loadingText]="Fetching"> </custom-spinner>
</div>
<div align="center" *ngIf="!fetchingProfile">
    <div *ngIf="socialUserModel!=null" >
        <img src="./images/dp-bg.jpg" id="bg">
        <img src="{{socialUserModel.image}}" class='circle-picture' id='dp'>
        <br />
        <div id="detail">
            <h1 id="user-name"> {{socialUserModel.name}} </h1>
            <h4 id="user-email"> {{socialUserModel.email}}</h4>
        </div>
    </div>
</div>
<div *ngIf="fetchingFeeds" class="loading-center-page">
    <custom-spinner [loadingText]="Fetching"> </custom-spinner>
</div>
<div *ngIf="!fetchingFeeds">
    <div align="center" *ngIf="feeds == null" id="no-post-section">
        <img src="./images/sad-smiley.svg" height="auto">
        <h1> You haven't posted anything yet, <u id="share-now" (click)="navigateToHome()">Share Now</u> </h1>
    </div>
    <div align="left" *ngIf="feeds!=null" id="feeds-list">
        <h2> My Posts </h2>
        <div *ngFor="let feed of feeds; let i=index">
            <feed-component [feed]="feed"> </feed-component>
        </div>
    </div>
</div>