<div *ngIf="fetchingProfile" class="center-hor-loader">
    <custom-spinner [loadingText]="Fetching"> </custom-spinner>
</div>
<div align="center" *ngIf="!fetchingProfile">
    <div *ngIf="socialUserModel!=null">
        <img src="./images/dp-bg.jpg" id="bg">
        <img src="{{socialUserModel.image}}" class='circle-picture' id='dp'>
        <br />
        <div id="detail">
            <h1 id="user-name"> {{socialUserModel.name}} </h1>
            <h4 id="user-email"> {{socialUserModel.email}}</h4>
            <h4 *ngIf="myProfile" id="logout" (click)="logout()"> Logout </h4>
        </div>
    </div>
</div>
<div *ngIf="fetchingFeeds" class="center-hor-loader">
    <custom-spinner [loadingText]="Fetching"> </custom-spinner>
</div>
<div *ngIf="!fetchingFeeds" id="my-post-section">
    <h1 id="my-post-title"> My Posts </h1>
    <div style="clear:both"> </div>
    <div align="center" *ngIf="feeds == null" id="no-post-section">
        <h3> You haven't posted anything yet </h3>
        <i id="share-now" (click)="navigateToHome()">Post Now</i>
    </div>
    <div align="left" *ngIf="feeds!=null" id="feeds-list">
        <div *ngFor="let feed of feeds; let i=index">
            <feed-component [feed]="feed"> </feed-component>
        </div>
    </div>
</div>