<div id="parent">
    <!-- Web view -->
    <div *ngIf="!mobileView" (window:resize)="onResize($event)">
        <div id="fixed-header">
            <div id="search-bar-div-web">
                <input class="search-input" placeholder="Search" id="searchText" [(ngModel)]="searchText" name="searchText" type="text" />
                <span class="glyphicon glyphicon-search" id="search-icon" (click)="showSearchPage()"></span>
                <div style="clear : both"> </div>
            </div>
        </div>
        <div id="left-container">
            <div *ngIf="socialUserModel!=null" id="user-div" (click)="showProfile()">
                <img src="{{socialUserModel.image}}" class='circle-picture' id='dp'>
                <!-- <label id="user-name"> {{socialUserModel.name}} </label> -->
            </div>
            <div style="clear:both"> </div>
            <div id="side-drawer">
                <h2 class="nav-items" [ngClass]="classListDesktop[classIndex6]" (click)="showFeeds()"> <span class="glyphicon glyphicon-home web-side-icons" id="feeds-color"> </span> Feeds </h2>
                <h2 class="nav-items" [ngClass]="classListDesktop[classIndex8]" (click)="showFriends()"> <span class="fa fa-users web-side-icons" id="friends-color"> </span> Friends </h2>
                <h2 class="nav-items" [ngClass]="classListDesktop[classIndex7]" (click)="showProfile()"> <span class="glyphicon glyphicon-user web-side-icons" id="profile-color"> </span> My Profile </h2>
                <h2 class="nav-items" [ngClass]="classListDesktop[classIndex9]" *ngIf="bookmarkItems!=null" (click)="openBookmarks()"> <span class="glyphicon glyphicon-book web-side-icons" id="bookmark-color"> </span> Saved <span id="bookmark-count"> ({{bookmarkItems.length}}) </span>                    </h2>
                <h2 class="nav-items" [ngClass]="classListDesktop[classIndex10]" (click)="showNotifications()"> <span class="glyphicon glyphicon-bell web-side-icons" id="notifications-color"></span> Notifications </h2>
            </div>
        </div>
        <div id="center-container">
            <div id="main-content-web">
                <router-outlet (callback)="updateSavedBookmarkCount($event)"></router-outlet>
            </div>
        </div>
        <div style="clear:both"> </div>
    </div>

    <!-- Mobile view -->
    <div *ngIf="mobileView" (window:resize)="onResize($event)">
        <div id="floating-header">
            <div id="search-bar-div-mob">
                <input class="search-input" placeholder="Search" id="searchText" [(ngModel)]="searchText" name="searchText" type="text" />
                <span class="glyphicon glyphicon-search" id="search-icon" (click)="showSearchPage()"></span>
                <div style="clear : both"> </div>
            </div>
        </div>
        <div align="center">
            <div id="main-content-mobile">
                <router-outlet (callback)="updateSavedBookmarkCount($event)"></router-outlet>
            </div>
        </div>
        <div style="clear:both"> </div>
        <div align="center" id="new-footer">
            <table>
                <tr>
                    <td align="center" (click)="showFeeds()"> <span [ngClass]="classList[classIndex1]" class="glyphicon glyphicon-home"> </span> </td>
                    <td align="center" (click)="showFriends()"> <span [ngClass]="classList[classIndex3]" class="fa fa-users"> </span> </td>
                    <td align="center" (click)="showProfile()"> <span [ngClass]="classList[classIndex2]" class="glyphicon glyphicon-user"></span> </td>
                    <td align="center" (click)="openBookmarks()"> <span [ngClass]="classList[classIndex4]" class="glyphicon glyphicon-book"> </span> </td>
                    <td align="center" (click)="showNotifications()"> <span [ngClass]="classList[classIndex5]" class="glyphicon glyphicon-bell"></span> </td>
                </tr>
            </table>
        </div>
    </div>
</div>