<div id="parent">
    <!-- Web view -->
    <div *ngIf="!mobileView" (window:resize)="onResize($event)">
        <div id="fixed-header">
            <div style="width : 40%" id="search-bar-div">
                <input style="width : 80%" placeholder="Search" id="searchText" [(ngModel)]="searchText" name="searchText" type="text" />
                <span class="glyphicon glyphicon-search" id="search-icon" (click)="showSearchPage()"></span>
                <div style="clear : both"> </div>
            </div>
        </div>
        <div id="left-container">
            <div *ngIf="socialUserModel!=null" id="user-div" (click)="showProfile()">
                <img src="{{socialUserModel.image}}" class='circle-picture' id='dp'>
                <!-- <label id="user-name"> {{socialUserModel.name}} </label> -->
            </div>
            <div style="clear:both"> </div>
            <div style="margin-top : 32px">
                <h2 class="nav-items" [ngClass]="classListDesktop[classIndex6]" (click)="showFeeds()"> <span class="glyphicon glyphicon-home" style="color : #990000; margin-right : 8px"> </span> Feeds </h2>
                <h2 class="nav-items" [ngClass]="classListDesktop[classIndex8]" (click)="showFriends()"> <span class="fa fa-users" style="color : #CCCC00; margin-right : 8px"> </span> Friends </h2>
                <h2 class="nav-items" [ngClass]="classListDesktop[classIndex7]" (click)="showProfile()"> <span class="glyphicon glyphicon-user" style="color : #00CC00; margin-right : 8px"> </span> My Profile </h2>
                <h2 class="nav-items" [ngClass]="classListDesktop[classIndex9]" *ngIf="bookmarkItems!=null" (click)="openBookmarks()"> <span class="glyphicon glyphicon-book" style="color : #FF007F; margin-right : 8px"> </span> Saved <span id="bookmark-count"> ({{bookmarkItems.length}}) </span>                    </h2>
                <h2 class="nav-items" [ngClass]="classListDesktop[classIndex10]" (click)="showNotifications()"> <span class="glyphicon glyphicon-bell" style="color : #00EFFF; margin-right : 8px"></span> Notifications </h2>
            </div>
        </div>
        <div id="center-container">
            <div id="main-content-web">
                <router-outlet (callback)="updateSavedBookmarkCount($event)"></router-outlet>
            </div>
        </div>
        <div style="clear:both"> </div>
    </div>

    <!-- Mobile view -->
    <div *ngIf="mobileView" (window:resize)="onResize($event)">
        <div id="floating-header">
            <div style="width : 100%" id="search-bar-div">
                <input style="width : 80%" placeholder="Search" id="searchText" [(ngModel)]="searchText" name="searchText" type="text" />
                <span class="glyphicon glyphicon-search" id="search-icon" (click)="showSearchPage()"></span>
                <div style="clear : both"> </div>
            </div>
        </div>
        <div align="center">
            <div id="main-content-mobile">
                <router-outlet (callback)="updateSavedBookmarkCount($event)"></router-outlet>
            </div>
        </div>
        <div style="clear:both"> </div>
        <div align="center" id="new-footer">
            <table style="width : 100%">
                <tr>
                    <td align="center" (click)="showFeeds()"> <span [ngClass]="classList[classIndex1]" class="glyphicon glyphicon-home"> </span> </td>
                    <td align="center" (click)="showFriends()"> <span [ngClass]="classList[classIndex3]" class="fa fa-users"> </span> </td>
                    <td align="center" (click)="showProfile()"> <span [ngClass]="classList[classIndex2]" class="glyphicon glyphicon-user"></span> </td>
                    <td align="center" (click)="openBookmarks()"> <span [ngClass]="classList[classIndex4]" class="glyphicon glyphicon-book"> </span> </td>
                    <td align="center" (click)="showNotifications()"> <span [ngClass]="classList[classIndex5]" class="glyphicon glyphicon-bell"></span> </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div *ngIf="loadingData" class="loading-center-page">
    <custom-spinner [loadingText]="Fetching"> </custom-spinner>
</div>