<div *ngIf="feed!=null && feed.description !='undefined'" id="parent">
    <div >
        <div>
            <div *ngIf="feed.feedOwner!=null" id="feed-owner-div">
                <table>
                    <td>
                        <img src="{{feed.feedOwner.image}}" class='circle-picture' />
                    </td>
                    <td id="feed-owner-data">
                        <h6 id="feed-owner-name" *ngIf="feed.feedOwner.name!=null" (click)="openProfile(feed.feedOwner.userId)"> {{feed.feedOwner.name}}</h6>
                        <h6 id="feed-created-date"> {{feed.createdAt | date: 'EEE'}} {{feed.createdAt | date: 'shortTime'}} </h6>
                    </td>
                </table>
            </div>
            <div style="clear : both"> </div>
            <div>
                <h6 *ngIf="feed.description != null" id="feed-description"> {{feed.description}} </h6>
                <div id="bookmark-icon-div">
                    <div *ngIf="feed.feedType=='event' || feed.feedType=='blog'">
                        <span class="glyphicon glyphicon-book bookmark-icon" [ngClass]="class[feedBookmarkedIndex]" (click)="toogleBookmark(feed)"></span>
                    </div>
                </div>
                <br />
                <div style="clear : both"> </div>
                <div align="center" *ngIf="feed.contentType != null">
                    <img *ngIf="feed.contentType == 'image'" src="{{feed.contentUrl}}" id="content-image" />
                    <video *ngIf="feed.contentType == 'video'" id="video-content" width="100%" height="auto" controls>
                        <source src="{{feed.contentUrl}}" type="video/mp4"> Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div style="clear : both"> </div>
            <div align="center"> 
                <img *ngIf="feed.image!=null" src="{{feed.image}}" id="feed-image" (click)="openFeedUrl(feed)">
            </div>
            <div *ngIf="feed.venue != null && feed.time != null" id="event-div">
                <table id="event-table">
                    <td id="event-date">
                        <div align="center">
                            <h3 id="event-time"> {{feed.time | date: 'MMM'}} </h3>
                            <h3> {{feed.time | date: 'dd'}} </h3>
                        </div>
                    </td>
                    <td id="event-venue">
                        <div align="center" id="event-venue-text">{{feed.venue}}
                            <h5 id="event-short-time">{{feed.time | date: 'EEEE'}} {{feed.time | date: 'shortTime'}}</h5>
                        </div>
                    </td>
                    <td id="event-price">
                        <div align="center">
                            <h3 id="event-price-text"> Rs {{feed.price}} </h3>
                            <h5 *ngIf="feed.url != null" id="read-more" class="theme-color" (click)="openFeedUrl(feed)"> Read More </h5>
                        </div>
                    </td>
                </table>
            </div>
            <h5 *ngIf="feed.feedType=='blog' && feed.url != null" id="read-more" class="theme-color blog-read-more" (click)="openFeedUrl(feed)"> Read More </h5>
            <div style="clear : both"> </div>
        </div>
        <div>
            <div id="feed-detail-div" (click)="toggleFeedDetail(feed)">
                <label *ngIf="feed.likesCount == 1" class="like-count theme-color"> <b> {{feed.likesCount}} </b> Like </label>
                <label *ngIf="feed.likesCount > 1" class="like-count theme-color"> <b> {{feed.likesCount}} </b> Likes </label>
                <label *ngIf="feed.commentsCount == 1" class="comment-count theme-color"> <b> {{feed.commentsCount}} </b> Comment </label>
                <label *ngIf="feed.commentsCount > 1" class="comment-count theme-color"> <b> {{feed.commentsCount}} </b> Comments </label>
                <div style="clear : both"> </div>
            </div>
            <hr>
            <div>
                <div id="like-comment-buttons-section">
                    <div *ngIf="feed.feedType!='post'">
                        <label class="action-button one-third" [ngClass]="class[feedLikedIndex]" (click)="toggelLike(feed)"> <span class="glyphicon glyphicon-thumbs-up"></span> {{likeText}} </label>
                        <label class="action-button one-third" (click)="toggleCommentButton(feed)"> <span class="glyphicon glyphicon-comment"></span> Comment </label>
                        <label class="action-button one-third" (click)="share(feed)"> <span class="glyphicon glyphicon-share"></span> Share </label>
                    </div>
                    <div *ngIf="feed.feedType=='post'">
                        <label class="action-button half" [ngClass]="class[feedLikedIndex]" (click)="toggelLike(feed)"> <span class="glyphicon glyphicon-thumbs-up"></span> Like </label>
                        <label class="action-button half" (click)="toggleCommentButton(feed)"> <span class="glyphicon glyphicon-comment"></span> Comment </label>
                    </div>
                </div>
                <div align="center" *ngIf="feed.showShareOptions && feed.url!= null" id="share-options">
                    <share-buttons [url]="feed.url" [showCount]="true"></share-buttons>
                </div>
            </div>
            <div *ngIf="feed.disableComment" align="center" id="dis-comment-section">
                <input id="new-comment" [(ngModel)]="feed.newComment" placeholder="Comment here" />
                <div *ngIf="feed.addingComment" id="spinner">
                    <custom-spinner [size]="small"> </custom-spinner>
                </div>
                <p *ngIf="!feed.addingComment" id="add-button" (click)="addComment(feed)"> Add </p>
                <div style="clear : both"> </div>
            </div>
        </div>
    </div>
    <div style="clear : both"> </div>
</div>