<div *ngIf="feed!=null" id="parent">
    <div>
        <div>
            <div *ngIf="feed.feedOwner!=null" id="feed-owner-div">
                <img src="{{feed.feedOwner.image}}" class='circle-picture' /> <span> <label *ngIf="feed.feedOwner.name!=null" (click) = "openProfile(feed.feedOwner.userId)"> {{feed.feedOwner.name}}</label> </span>                <br />
            </div>
            <div style="clear : both"> </div>
            <div>
                <div id="bookmark-icon-div">
                    <div *ngIf="feed.feedType=='event' || feed.feedType=='blog'">
                        <span class="glyphicon glyphicon-book bookmark-icon" [ngClass]="class[feedBookmarkedIndex]" (click)="toogleBookmark(feed)"></span>
                    </div>
                </div>
                <img *ngIf="feed.image!=null" src="{{feed.image}}" id="feed-image">
                <label *ngIf="feed.description != null" id="feed-description"> {{feed.description}} </label>
                <div align="center" *ngIf="feed.contentType != null">
                    <img *ngIf="feed.contentType == 'image'" src="{{feed.contentUrl}}" id="content-image" />
                    <video *ngIf="feed.contentType == 'video'" width="300" height="180" controls>
                        <source src="{{feed.contentUrl}}" type="video/mp4"> Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <label *ngIf="feed.venue != null" id="title"> <b id="value"> Venue : </b> {{feed.venue}} </label>
            <label *ngIf="feed.price != null" id="title"> <b id="value"> Price : </b> {{feed.price}} </label>
            <label *ngIf="feed.url != null" id="read-more" class="theme-color" (click)="openFeedUrl(feed)"> Read More </label>
            <div style="clear : both"> </div>
        </div>
        <div>
            <div id="feed-detail-div" (click)="toggleFeedDetail(feed)">
                <label *ngIf="feed.likesCount == 1" class="like-count theme-color"> <b> {{feed.likesCount}} </b> Like </label>
                <label *ngIf="feed.likesCount > 1" class="like-count theme-color"> <b> {{feed.likesCount}} </b> Likes </label>
                <label *ngIf="feed.commentsCount == 1" class="comment-count theme-color"> <b> {{feed.commentsCount}} </b> Comment </label>
                <label *ngIf="feed.commentsCount > 1" class="comment-count theme-color"> <b> {{feed.commentsCount}} </b> Comments </label>
                <div style="clear : both"> </div>
            </div>
            <hr>
            <div>
                <div id="like-comment-buttons-section">
                    <div *ngIf="feed.feedType!='post'">
                        <label class="action-button one-third" [ngClass]="class[feedLikedIndex]" (click)="toggelLike(feed)"> <span class="glyphicon glyphicon-thumbs-up"></span> Like </label>
                        <label class="action-button one-third" (click)="toggleCommentButton(feed)"> <span class="glyphicon glyphicon-comment"></span> Comment </label>
                        <label class="action-button one-third" (click)="share(feed)"> <span class="glyphicon glyphicon-share"></span> Share </label>
                    </div>
                    <div *ngIf="feed.feedType=='post'">
                        <label class="action-button half" [ngClass]="class[feedLikedIndex]" (click)="toggelLike(feed)"> <span class="glyphicon glyphicon-thumbs-up"></span> Like </label>
                        <label class="action-button half" (click)="toggleCommentButton(feed)"> <span class="glyphicon glyphicon-comment"></span> Comment </label>
                    </div>
                </div>
                <div align="center" *ngIf="feed.showShareOptions && feed.url!= null" id="share-options">
                    <share-buttons [url]="feed.url" [showCount]="true"></share-buttons>
                </div>
            </div>
            <div *ngIf="feed.disableComment" align="center" id="dis-comment-section">
                <input id="new-comment" [(ngModel)]="feed.newComment" placeholder="Comment here" />
                <div *ngIf="feed.addingComment" id="spinner">
                    <custom-spinner [size]="small"> </custom-spinner>
                </div>
                <p *ngIf="!feed.addingComment" id="add-button" (click)="addComment(feed)"> Add </p>
                <div style="clear : both"> </div>
            </div>
        </div>
    </div>
    <div style="clear : both"> </div>
</div>