#parent {
    background : white; padding : 8px; margin-top : 16px
}

#new-comment {
    width : 80%
}

#feed-owner-div {
    float : left;
    margin-bottom: 4px
}

#fed-owner-data {
    padding-left : 8px; margin : 0px
}

#feed-owner-name {
    font-size : 20px; font-weight : 700; cursor : pointer
}

#feed-owner-div img{
    width : 40px; height : 40px; margin : 8px 8px 8px 0px;
}

#bookmark-icon-div {
    margin : 0px 0px 8px 0px;
    float:right; width : 10%
}

.bookmark-icon {
    margin : 8px 8px 0px 0px; float : right;cursor : pointer; font-size : 16px
}

#feed-image {
    width : 100%; vertical-align: middle
}

#feed-created-date {
    font-size : 12px !important
}

#feed-description {
    font-size : 16px; text-align : left; line-height : 1.2; margin-bottom: 8px; padding : 4px 0px 4px 0px; color : black; max-width : 90%; font-weight: 600; float : left
}

#title {
    font-size : 16px; text-align : left; float : left; line-height : 1.2
}

#value {
    color : black;
    font-weight: 700
}

#content-image {
    width : 100%; vertical-align: middle; margin-bottom : 12px
}

#read-more {
    font-size : 12px; cursor : pointer
}

#feed-detail-div {
    float : right; margin : 0px 16px 4px 0px;
}

.like-count {
    font-size : 12px; float : left; cursor : pointer;
}

.comment-count {
    font-size : 12px; float : left; margin-left : 8px; cursor : pointer;
}

hr {
    margin : 0px; width : 100%
}

#like-comment-buttons-section {
    margin-top : 8px
}

#share-options {
    padding: 8px;margin: 8px;
}

/* #dis-comment-section {
    margin : 8px 0px 0px 0px
} */

#dis-comment-section input{
    float:left;
}

#spinner {
    float : right; margin-right : 4px; max-width : 20px; margin-top : -4px
}

#add-button {
    font-size : 16px; cursor : pointer; color : black; float:right; width : 10%
}

.action-button {
    margin-right : 16px; font-size : 16px; cursor : pointer; color : #90949c; text-align : center
}

#event-div {
    margin : 8px 0px 8px 0px; padding : 8px; border : 0.3px solid gray
}

#event-table {
    width : 100%
}

#event-date {
    width : 20%
}

#event-time {
    color : red;
}

#event-short-time {
    text-align : left
}

#event-venue {
    width : 60%
}

#event-venue-text {
    text-align : left; font-weight : 600; white-space: nowrap; max-width: 30em; overflow: hidden; text-overflow: ellipsis; 
}

#event-price {
    width : 20%;
}

#event-price-text {
    color : green;
}

@media (max-width: 767px) {
    .half {
        width : 45%
    }
    
    .one-third {
        width : 30%
    }

    .action-button{
        margin-right : 8px;
    }

    #event-venue-text {
        max-width: 15em; 
    }

    #read-more {
        font-size : 10px; 
    }
}